.start {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  z-index: 1000;
  background: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
