:root {
  --title-color: #ffd700;
  --subtitle-color: #fff;
  --text-color: #fff;
  --background-color: indigo;
  --form-background-color: #ccc;
  --form-text-color: #363636;
  --sidebar-color: rgb(68, 65, 71);
  --sidebar-phone-color: rgb(68, 65, 71);
  --hero-color: #fff;
  --nav-selector-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(60, 9, 121, 1) 12%,
    rgba(175, 0, 255, 0.3) 100%
  );
  --nav-hover-color: white;
  --nav-text-hover-color: black;
  --sidebar-logo-color: #ffd700;
}

section {
  width: 85%;
  margin-left: auto;
  padding: 3rem;
  .text-zone {
    h1 {
      font-size: 3rem;
      color: var(--title-color);
      animation: 0.7s bounceInLeft backwards;
    }
    .text {
      animation: 0.7s bounceInLeft backwards;
      max-width: 600px;
      color: var(--text-color);
    }
  }
}

@media screen and (max-width: 812px) {
  section {
    width: 100%;
    margin: auto;
  }
}
