:root {
  --title-color: #60e3d5;
  --subtitle-color: #fff;
  --text-color: #fff;
  --background-color: #111a37;
  --form-background-color: #ccc;
  --form-text-color: #363636;
  --sidebar-color: #e31577;
  --sidebar-text-color: #fff;
  --hero-color: #fff;
  --nav-selector-color: #0d698b;
  --nav-hover-color: white;
  --nav-text-hover-color: black;
  --sidebar-logo-color: #ffd700;
  --accent-color: #60e3d5;
}
// :root {
//     --title-color: #ffd700;
//     --subtitle-color: #fff;
//     --text-color: #fff;
//     --background-color: indigo;
//     --form-background-color: #ccc;
//     --form-text-color: #363636;
//     --sidebar-color: rgb(68, 65, 71);
//     --sidebar-phone-color: rgb(68, 65, 71);
//     --hero-color: #fff;
//     --nav-selector-color: #0d698b;
//     --nav-hover-color: white;
//     --nav-text-hover-color: black;
//     --sidebar-logo-color: #ffd700;
//     --accent-color: #ffd700;
//   }

section {
  width: 85%;
  margin-left: auto;
  padding: 3rem;
  .text-zone {
    h1 {
      font-size: 3rem;
      color: var(--title-color);
      animation: 0.7s bounceInLeft backwards;
    }
    .text {
      animation: 0.7s bounceInLeft backwards;
      max-width: 600px;
      color: var(--text-color);
    }
  }
}

@media screen and (max-width: 812px) {
  section {
    width: 100%;
    margin: auto;
  }
}
