.about-page {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  .text-zone {
    min-width: 300px;
  }
  .subtitle {
    color: var(--subtitle-color);
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  .skills {
    animation: bounceInRight 0.7s 0.3s backwards;
  }
  &::after {
    content: "";
    background: #0d698b;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50%;
    z-index: -2;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  .japanese-container {
    position: absolute;
    top: 58%;
    left: 25%;
    z-index: 0;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    .text {
      animation: bounceInRight 0.7s 0.6s backwards;
      background: var(--accent-color);
      color: black;
      font-weight: 200;
      font-size: 2rem;
      padding: 0rem 1rem;
      cursor: pointer;
      max-width: 500px;
      min-width: 356px;
    }
    .text-english {
      font-size: 1.5rem;
      letter-spacing: 4px;
      text-align: center;
    }
    button {
      animation: fadeIn 0.7s 0.6s backwards;
      position: absolute;
      top: 145%;
      left: 20%;
      font-size: 1.2rem;
      background: none;
      color: white;
      letter-spacing: 3px;
      cursor: pointer;
      border: 0;
      transform: translate(-50%, -50%);
      animation: flash 2s infinite;
    }
    .translate-button {
      border: 4px dotted var(--accent-color);
      padding: 0rem 1rem;
      animation: none;
    }
  }
}

@media screen and (max-width: 1890px) {
  .about-page {
    .japanese-container {
      top: 70%;
    }
  }
}
@media screen and (max-width: 1410px) {
  .about-page {
    .japanese-container {
      top: 40%;
      left: 38%;
    }
  }
}
@media screen and (max-width: 1300px) {
  .about-page {
    .japanese-container {
      top: 40%;
      left: 32%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .about-page {
    flex-direction: column;
    align-items: center;
    .japanese-container {
      right: -50%;
      top: 80%;
    }
  }
}

.stage-cube-cont {
  animation: bounceInDown 0.7s 0.6s backwards;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  width: 400px;
  height: 400px;
  border: none;
  margin: 80px;
  perspective: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: fullCube 20s ease-in-out infinite alternate;
  transition: transform 1s;
}

@keyframes fullCube {
  0% {
    transform: rotateZ(25deg);
  }
  100% {
    transform: rotateZ(-25deg);
  }
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: 0.6s ease-in-out;
}

.cube__face--front {
  background: url("https://cdn-icons-png.flaticon.com/512/1126/1126012.png");
  background-position: center center;
  background-size: cover;
}

.cube__face--right {
  background: url("https://cdn-icons-png.flaticon.com/512/732/732190.png");
  background-position: center center;
  background-size: cover;
}
.cube__face--back {
  background: url("https://cdn-icons-png.flaticon.com/512/174/174854.png");
  background-position: center center;
  background-size: cover;
}
.cube__face--left {
  background: url("https://cdn-icons-png.flaticon.com/512/5968/5968292.png");
  background-position: center center;
  background-size: cover;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
  animation: moveFront 10s linear infinite forwards;
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
  animation: moveRight 10s linear infinite forwards;
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
  animation: moveBack 10s linear infinite forwards;
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
  animation: moveLeft 10s linear infinite forwards;
}

@keyframes moveFront {
  0% {
    transform: rotateY(0deg) translateZ(130px);
  }
  100% {
    transform: rotateY(360deg) translateZ(130px);
  }
}

@keyframes moveRight {
  0% {
    transform: rotateY(90deg) translateZ(130px);
  }
  100% {
    transform: rotateY(450deg) translateZ(130px);
  }
}
@keyframes moveBack {
  0% {
    transform: rotateY(180deg) translateZ(130px);
  }
  100% {
    transform: rotateY(540deg) translateZ(130px);
  }
}
@keyframes moveLeft {
  0% {
    transform: rotateY(-90deg) translateZ(130px);
  }
  100% {
    transform: rotateY(270deg) translateZ(130px);
  }
}

.skills {
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
  .flex-container {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    p {
      font-size: 1.1rem;
      &:hover {
        color: #ffd700;
      }
    }
  }
}

@media screen and (max-width: 812px) {
  .about-page {
    &::after {
      display: none;
    }
  }
  .scene {
    transform: scale(0.8);
  }
}
