.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-page .subtitle {
  color: var(--subtitle-color);
  font-size: 2.2rem;
  margin-top: 1rem;
}

.about-page .skills {
  -webkit-animation: bounceInRight 0.7s 0.3s backwards;
          animation: bounceInRight 0.7s 0.3s backwards;
}

@media screen and (max-width: 1050px) {
  .about-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.stage-cube-cont {
  -webkit-animation: bounceInDown 0.7s 0.6s backwards;
          animation: bounceInDown 0.7s 0.6s backwards;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scene {
  width: 400px;
  height: 400px;
  border: none;
  margin: 80px;
  -webkit-perspective: 400px;
          perspective: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: fullCube 20s ease-in-out infinite alternate;
          animation: fullCube 20s ease-in-out infinite alternate;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@-webkit-keyframes fullCube {
  0% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  100% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
}

@keyframes fullCube {
  0% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  100% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.cube__face--front {
  background: url("https://cdn-icons-png.flaticon.com/512/1126/1126012.png");
  background-position: center center;
  background-size: cover;
}

.cube__face--right {
  background: url("https://cdn-icons-png.flaticon.com/512/732/732190.png");
  background-position: center center;
  background-size: cover;
}

.cube__face--back {
  background: url("https://cdn-icons-png.flaticon.com/512/174/174854.png");
  background-position: center center;
  background-size: cover;
}

.cube__face--left {
  background: url("https://cdn-icons-png.flaticon.com/512/5968/5968292.png");
  background-position: center center;
  background-size: cover;
}

.cube__face--front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
  -webkit-animation: moveFront 10s linear infinite forwards;
          animation: moveFront 10s linear infinite forwards;
}

.cube__face--right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
  -webkit-animation: moveRight 10s linear infinite forwards;
          animation: moveRight 10s linear infinite forwards;
}

.cube__face--back {
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
  -webkit-animation: moveBack 10s linear infinite forwards;
          animation: moveBack 10s linear infinite forwards;
}

.cube__face--left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
  -webkit-animation: moveLeft 10s linear infinite forwards;
          animation: moveLeft 10s linear infinite forwards;
}

@-webkit-keyframes moveFront {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(130px);
            transform: rotateY(0deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(360deg) translateZ(130px);
            transform: rotateY(360deg) translateZ(130px);
  }
}

@keyframes moveFront {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(130px);
            transform: rotateY(0deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(360deg) translateZ(130px);
            transform: rotateY(360deg) translateZ(130px);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: rotateY(90deg) translateZ(130px);
            transform: rotateY(90deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(450deg) translateZ(130px);
            transform: rotateY(450deg) translateZ(130px);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: rotateY(90deg) translateZ(130px);
            transform: rotateY(90deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(450deg) translateZ(130px);
            transform: rotateY(450deg) translateZ(130px);
  }
}

@-webkit-keyframes moveBack {
  0% {
    -webkit-transform: rotateY(180deg) translateZ(130px);
            transform: rotateY(180deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(540deg) translateZ(130px);
            transform: rotateY(540deg) translateZ(130px);
  }
}

@keyframes moveBack {
  0% {
    -webkit-transform: rotateY(180deg) translateZ(130px);
            transform: rotateY(180deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(540deg) translateZ(130px);
            transform: rotateY(540deg) translateZ(130px);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(130px);
            transform: rotateY(-90deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(270deg) translateZ(130px);
            transform: rotateY(270deg) translateZ(130px);
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(130px);
            transform: rotateY(-90deg) translateZ(130px);
  }
  100% {
    -webkit-transform: rotateY(270deg) translateZ(130px);
            transform: rotateY(270deg) translateZ(130px);
  }
}

.skills h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.skills .flex-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.skills .flex-container p {
  font-size: 1.1rem;
}

.skills .flex-container p:hover {
  color: #ffd700;
}
/*# sourceMappingURL=index.css.map */