.card {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  grid-column: span 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.1s ease-in-out;
    background-position: center center;
  }
}
.card:hover img {
  transform: scale(1.3);
}

.card::after {
  position: absolute;
  content: "View Details";
  background: rgba(22, 119, 205, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0rem;
  color: white;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: 0.1s ease-in-out;
  transform: translate(-50%, -50%);
}

.card:hover::after {
  background: rgba(0, 122, 255, 0.9);
  font-size: 1.5rem;
}

img {
  object-fit: cover;
  width: 100px;
}

.projectScene {
  width: 200px;
  height: 280px;
  perspective: 400px;
  grid-column: span 1;
  margin-bottom: 8rem;
}

.projectScene:nth-child(even) {
  animation: bounceInUp 0.5s 0.5s backwards;
}
.projectScene:nth-child(odd) {
  animation: bounceInDown 0.5s 0.5s backwards;
}

.projectCube {
  position: relative;
  width: 200px;
  height: 280px;
  transform-style: preserve-3d;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.face {
  position: absolute;
  width: 200px;
  height: 280px;
  transition: 0.4s ease-in-out;
}

.face-front {
  transform: translateZ(100px);
}
.face-front img {
  object-fit: cover;

  height: 100%;
  width: 100%;
}

.face-front h3 {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  top: 0;
}

.face-right {
  //background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5));
  background: linear-gradient(rgba(160, 163, 173, 1), rgba(245, 247, 255, 1));
  background-size: cover;
  background-position: center center;
  transform: rotateY(90deg) translateZ(100px);
}

.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

  .project-button {
    margin-top: 2rem;
    font-size: 1rem;
  }
}

.content .icons {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  img {
    width: 30px;
  }
}

h3 {
  font-size: 1rem;
  color: white;
  font-weight: normal;
  text-align: center;
}

.projectCube:hover {
  transform: rotateY(-90deg);
}
