.cv-btn {
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  border: 0;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background: var(--sidebar-color);
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  transition: 0.2s ease-in-out;
  width: 180px;
  svg {
    font-size: 1.2rem;
  }
  &:hover {
    background: white;
    color: var(--sidebar-color);
  }
}
