.home-page {
  .text-zone {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
  }
  h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 400;
    max-width: 450px;

    &::before {
      content: "<h1>";
      font-family: "Helvetica Neue", Helvetica, Arial;
      color: #ffd700;
      font-size: 1.1rem;
      position: absolute;
      margin-top: -40px;
      left: 0;
      opacity: 0.6;
    }
    &::after {
      content: "<h1/>";
      font-family: "Helvetica Neue", Helvetica, Arial;
      color: #ffd700;
      font-size: 1.1rem;
      position: absolute;
      margin-top: 20px;
      left: 0;
      top: 55%;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
}

h2 {
  color: #8d8d8d;
  margin-top: 40px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
  border: 0;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background: #ffd700;
  margin-top: 25px;
  box-shadow: -5px 5px 1px 0px lightyellow;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: #363636;
    color: #fff;
    box-shadow: none;
  }
}
