.contact-form {
  width: 100%;
  margin-top: 6rem;
  position: relative;

  .input-group {
    margin-bottom: 0.7rem;
  }
  .top-group {
    display: flex;
    gap: 0.7rem;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #b8c8d1;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    animation: bounceInRight 0.5s 0.5s backwards;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #b8c8d1;
    height: 50px;
    font-size: 1rem;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
    animation: bounceInLeft 0.5s 0.5s backwards;
  }
}
.ctn-button {
  animation: fadeIn 1s 1.8s backwards;
  float: right;
}
