.contact-page {
  display: flex;
  justify-content: space-between;
  .text-zone {
    max-width: 500px;
  }
  &::after {
    content: "";
    background: #0d698b;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50%;
    z-index: -2;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
}

.contact-me-email {
  color: white;
}
.map {
  align-self: flex-end;
  margin-right: 3rem;
  width: 100%;
  height: 500px;
  max-width: 450px;
  animation: bounceInRight 0.3s 1s backwards;
  position: relative;
}

#gmap_canvas {
  height: 400px;
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe {
  animation: bounceInRight 0.3s 1s backwards;
  border-radius: 0.4rem;
}

.contact-form {
  width: 100%;
  margin-top: 4rem;
  position: relative;
  max-width: 500px;

  .input-group {
    margin-bottom: 0.7rem;
  }
  .top-group {
    display: flex;
    gap: 0.7rem;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: var(--form-background-color);
    height: 50px;
    font-size: 16px;
    color: var(--form-text-color);
    padding: 0 20px;
    box-sizing: border-box;
    animation: bounceInRight 0.5s 0.5s backwards;
  }

  textarea {
    width: 100%;
    border: 0;
    background: var(--form-background-color);
    height: 50px;
    font-size: 1rem;
    color: var(--form-text-color);
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
    animation: bounceInLeft 0.5s 1s backwards;
  }
}
.ctn-button {
  animation: bounceInUp 0.5s 1s backwards;
  float: right;
}

@media screen and (max-width: 1200px) {
  .contact-page {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }

  .map {
    margin-right: 0;
    max-width: 600px;
    align-self: center;
  }
  #gmap_canvas {
    width: 600px;
    width: 100%;
  }
}

@media screen and (max-width: 812px) {
  .contact-page {
    &::after {
      display: none;
    }
  }
}
