.nav-bar {
  background-color: var(--sidebar-color);
  width: 10%;
  min-width: 150px;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 3;
  min-height: 500px;
  transition: 0.3s ease-in-out;
  //box-shadow: 2px 0px 20px 0px var(--sidebar-color);

  &::after {
    content: "";
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    z-index: -1;
  }

  .logo {
    display: block;
    padding: 8px 0;
    margin-top: 3rem;
    text-decoration: none;
    img {
      display: block;
      margin: 8px auto;
      width: 40px;
      height: auto;
    }
    .sub-logo {
      display: block;
      color: var(--sidebar-text-color);
      text-decoration: none;
      margin: 8px auto;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  position: absolute;
  gap: 0.5rem;
  top: 50%;
  margin-top: -120px;
  width: 100%;
  a {
    padding: 0rem 1rem;
    text-decoration: none;
    color: var(--sidebar-text-color);
    width: 100%;
    font-size: 1rem;
    &:hover {
      background: var(--nav-hover-color);
      color: var(--nav-text-hover-color);
    }
    .link-flex {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }
  }
  .active {
    background: linear-gradient(
      to right,
      rgba(163, 82, 255, 0.8),
      rgba(121, 78, 223, 0.2)
    );
    background: var(--nav-selector-color);
  }

  li {
    list-style: none;
  }
  a.active {
    svg {
      color: var(--title-color);
    }
  }
}

ul {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: block;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: 0;
  li {
    a {
      padding: 7px 0;
      display: block;
      font-size: 3rem;
      line-height: 15px;

      svg {
        color: var(--sidebar-text-color); // Social icons
        border-radius: 50%;
        padding: 0.4rem;
      }

      &:hover svg {
        box-shadow: inset 10px 10px 20px #5a5a5a,
          inset -10px -10px 20px var(--accent-color);
        color: var(--accent-color);
      }
    }
  }
}

.this {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.menu-icon {
  font-size: 2.5rem;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: none;
}

@media screen and (max-width: 812px) {
  .nav-bar {
    min-width: 200px;
    left: -60%;
  }
  .menu-icon {
    display: block;
  }
}
