@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  //border: 1px solid limegreen;
}

body {
  color: rgb(255, 255, 255);
  background: var(--background-color);
  //overflow: hidden;
  display: block;
  min-height: 100vh;
  height: 100%;
  // width: 100%;
}


